header, main {
    margin-bottom: 10px;
}

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.row-fill {
    height: 2em;
}

#table-body tr:nth-child(odd) td {
    background: #fff;
}

#table-body tr:nth-child(even) td {
    background: #eeeeee;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.map {
    height: 100%;
}